body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    user-select: none;
    text-align: center;
}
h1 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
.map-container {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    overflow: hidden;
}
#city-dots-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
}

#map {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
}

svg {
    width: 100%;
    height: auto;
    cursor: pointer;
}
.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 16px;
    pointer-events: none;
    z-index: 10;
}
.highlight {
    fill: #f39c12;
}
.region {
    transition: all 0.3s ease;
}

.city-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
}
.city-input:focus {
    border-color: #3498db;
}

.city-dot {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
}

#toggleTheme {
    position: fixed;
    top: 10px; 
    right: 10px; 
    padding: 8px 16px; 
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    z-index: 1000;
}

button.success {
    background-color: darkblue;
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.success:hover {
    background-color: #0c0b5a;
}

button.error {
    background-color: #b51c0c;
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.error:hover {
    background-color: #701107;
}

body.dark #toggleTheme {
    background-color: #f4f4f4;
    color: #2c2c2c; 
}
body.dark {
    background-color: #2c2c2c;
    color: #ecf0f1;
}

body.dark h1 {
    color: #ecf0f1;
}

body.dark .map-container {
    background-color: #2c2c2c;
    border: 1px solid #ecf0f1;
}

body.dark .city-input {
    background-color: #2c2c2c;
    border: 1px solid #ecf0f1;
    color: #ecf0f1;
}
